<div class="container flex justify-end">
  <ul
    class="md:flex md:items-center z-[1] md:z-auto md:static absolute md:bg-white bg-black w-full left-0 md:w-auto md:py-0 py-4 pb-[200px] md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
    <li><a class="text-header hover:text-red-600" routerLink="/dashboard/posts">Posts</a></li>
    <li><a class="text-header hover:text-red-600" routerLink="/dashboard/category">Category</a></li>
    <li><a class="text-header hover:text-red-600" routerLink="/dashboard/users">Users</a></li>
  </ul>
</div>