<div class="container mt-3">
  <div class="row">
    <div class="col">
      <p class="h3 fw-bold text-danger">Edit Posts</p>
    </div>
  </div>
</div>

<!-- Contact Form -->
<div class="container">
  <div class="row">
    <div class="col-ms-4">
      <form action="" (ngSubmit)="onSubmit()" #formAdd="ngForm">
        <div class="mb-2">
          <input class="form-control" type="text" placeholder="Title" [(ngModel)]="product.title" name="title" />
        </div>
        <div class="mb-2">
          <input class="form-control" type="text" placeholder="Photo Url" [(ngModel)]="product.photo" name="photo" />
        </div>
        <div class="mb-2">
          <input class="form-control" type="date" placeholder="Date" [(ngModel)]="product.date" name="date" />
        </div>
        <div class="mb-2">
          <input class="form-control" type="text" placeholder="Description" [(ngModel)]="product.description"
            name="description" />
        </div>
        <div class="mb-2">
          <input class="btn btn-danger" type="submit" placeholder="Add">
          <a routerLink="/" class="btn btn-dark ms-2">Close</a>
        </div>
      </form>
    </div>
  </div>
</div>